@charset "utf-8";
body {
    text-align: center;
    padding: .4rem;
    background-color: #A3A0F2;
}


/* Lugar aonde vai ficar os inputs */


/* NÃO ESQUECER DE PASSAR PRA OUTRO DOCUMENTO */

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 2rem;
    background-color: #222059;
    border-radius: .2rem;
}

main div:nth-child(n) {
    border-radius: .5rem;
}

main h2 {
    padding: 2rem;
    font-weight: normal;
    background-color: #35328C;
    color: white;
    border-radius: .5rem;
    margin-bottom: .5rem;
}

div.units {
    padding: 1rem;
    background-color: #A3A0F2;
}

div.div-unit {
    padding: .5rem;
    font-size: 14pt;
    background-color: #22F2DD;
}

div.div-words {
    padding: .5rem;
}

div.div-unit,
div.div-description,
div.div-notes {
    margin-bottom: 1rem;
    padding: .5rem;
}

div.div-description,
div.div-notes,
div.div-words {
    background-color: #CFCEF2;
    text-align: justify;
    text-indent: 1rem;
}